@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 m-5;
}

.title {
    @apply text-2xl font-bold;
}

.link {
    @apply text-blue-500;
}

.img-height {
    @apply max-h-[50px];
}

.ms {
    @apply ms-5;
}

.lst {
    @apply list-disc text-sm;
}

.arc {
    @apply max-h-[500px];
}

.grp {
    @apply grid grid-cols-2 gap-2 max-w-[90%] mx-auto;
}

.mx {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sub-title {
    @apply text-lg font-bold;
}

.btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    @apply bg-blue-500 text-white px-3 py-1 rounded-md;
}
